---
interface Props {
    characteristics: string[]
    finality:string
}
const { characteristics, finality} = Astro.props
---

<section class="flex bg-primary  relative w-full justify-center py-20 px-5  items-center
1000px:flex-row flex-col 1000px:after:block gap-20
after:[content:'';] after:w-0.5 after:left-1/2 after:right-0 after:absolute  after:top-1/2 after:-translate-y-1/2 after:h-4/6 after:bg-contrast after:hidden
">
    <div class="flex flex-col mobile:w-full h-full text-contrast w-1/2 items-center justify-between gap-7">
        <h2 class="text-3xl font-bold w-full text-center">Caracteristicas</h2>
        <ul class="flex flex-col justify-start h-5/6 text-contrast">
            {characteristics.map(el => <li class="list-disc">{el}</lic>)}
        </ul>
    </div>
    <div class="flex flex-col mobile:w-full h-full text-contrast w-1/2 items-center justify-between gap-5">
        <h2 class="text-3xl font-bold">Finalidad</h2>
        <ul class="flex flex-col h-5/6 max-w-[40ch] justify-start gap-3 text-contrast">
            {finality}
        </ul>
    </div>
</section>