---
import { Companies as CompanyList } from "./../../../Consts/Consts";
import Company from "./Items/Company.astro";
---

<section
  class="1500px:border-x 1500px:border-[#ccc] px-20 mobile:px-7 bg-contrast w-full flex gap-12 flex-col py-20 overflow-hidden"
>
  <h2
    class="font-bold bg-gradient-to-b mobile:text-xl from-white to-white text-center bg-clip-text text-transparent text-3xl [text-shadow:0px_2px_2px_rgba(150,200,255,50%)]"
  >
    Empresas que han confiado en nosotros
  </h2>
  <section id="slider" class="bg-contrast h-36 overflow-hidden relative">
    <section id="slide-track" class="flex items-center">
      {CompanyList.map((el) => <Company name={el.name} image={el.image} />)}
    </section>
  </section>
</section>
<style>


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(-250px * 2));
    }
    
    100% {
      transform: translateX(0);
    }
  }

#slider {
    background: #3b56b5;
    height: 33vw;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 80vw;
    max-height: 260px;
    max-width: 2000px;
    
    &::before,
    &::after {
      background: linear-gradient(
        to right,
        #3b56b5 0%,
        rgba(255, 255, 255, 0) 100%
        );
        content: "";
        height: 33vw;
        position: absolute;
        width: 200px;
        z-index: 2;
        max-height: 260px;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    #slide-track {
      animation: scroll 30s linear infinite;
      display: flex;
      align-items: center ;
      justify-content: space-between;
      width: calc(30vw  * 7 );
      max-width: calc(250px *7 );
    }

  }
</style>
