---
import { type FeaturedProject } from "../../../Consts/Types";
interface Props extends FeaturedProject {}
const { description, image, logo, title } = Astro.props;
---

<article
  class="flex bg-primary text-white flex-col relative w-80 h-72 rounded-xl items-start justify-between"
>
  <img
    src={image ?? "/Images/coding.jpg"}
    class="object-cover object-center w-full h-3/5"
    alt=""
  />
  <section class="w-full flex-grow p-2">
    <strong class="text-xl text-white font-bold">{title}</strong>
    <p class="text-white">{description}</p>
  </section>
  <section
    class="absolute -top-5 -left-5 rounded-[50%] p-2 bg-primary w-20 h-20"
  >
    <img
      src={logo ?? "/Images/coding.jpg"}
      class="border-2 border-contrast w-full h-full rounded-[50%] object-cover object-center"
      alt=""
    />
  </section>
</article>
