<section
  id="StickyButtons"
  class=" 1500px:py-2 flex justify-center max-w-[2000px] 1500px:w-3/6 gap-5 w-full"
>
  <button
    class=" 1500px:py-2 hover:bg-contrast hover:text-white text-primary text-sm px-2 max-w-sm font-semibold rounded-3xl w-[30%] py-1 bg-white drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]"
    >Nuestros trabajos</button
  >
  <button
    class=" 1500px:py-2 hover:bg-contrast hover:text-white text-primary text-sm px-2 max-w-sm text-center font-semibold rounded-3xl w-[30%] py-1 bg-white drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]"
    >Contactanos</button
  >
  <button
    class=" 1500px:py-2 hover:bg-contrast hover:text-white text-primary text-sm px-2 max-w-sm font-semibold rounded-3xl w-[30%] py-1 bg-white drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]"
    >Trabaja con nosotros</button
  >
</section>
