<section
  id="StickyButtons"
  class="w-full flex justify-center gap-5 max-w-[1000px] "
>
  <button
    class="text-primary text-sm px-2 font-semibold rounded-3xl w-[30%] py-1 bg-white drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]"
    >Nuestros trabajos</button
  >
  <button
    class="text-primary text-sm px-2 text-center font-semibold rounded-3xl w-[30%] py-1 bg-white drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]"
    >Contactanos</button
  >
  <button
    class="text-primary text-sm px-2 font-semibold rounded-3xl w-[30%] py-1 bg-white drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]"
    >Trabaja con nosotros</button
  >
</section>
