---
interface Props {
  selected?: number;
}
const { selected } = Astro.props;
---

<section
  class:list={[
    "flex justify-between w-full max-w-[2000px] gap-5box-border",
    "1000px:py-2 1000px:w-3/6 fullMobile:gap-1",
    "fullMobile:p-0 fullMobile:flex-col fullMobile:h-full fullMobile:justify-start fullMobile:justify-start fullMobile:mt-7 fullMobile:w-full",
  ]}
>
  <button
    class:list={[
      "px-2 text-lg max-w-sm font-semibold rounded-xl w-[30%] py-1  drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]",
      ,
      selected === 0
        ? " text-contrast bg-primary hover:bg-primary hover:text-contrast"
        : "bg-primary hover:bg-primary hover:text-contrast text-white text-primary",
      "fullMobile:w-full fullMobile:max-w-full fullMobile:text-start mobile:py-4",
      "fullMobile:bg-contrast/20 backdrop-brightness-75 fullMobile:rounded-none fullMobile:text-white fullMobile:drop-shadow",
    ]}>Nuestros trabajos</button
  >
  <button
    class:list={[
      "px-2 text-lg max-w-sm font-semibold rounded-xl w-[30%] py-1  drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]",
      ,
      selected === 1
        ? " text-contrast bg-primary hover:bg-primary hover:text-contrast"
        : "bg-primary hover:bg-primary hover:text-contrast text-white text-primary",
      ,
      "fullMobile:w-full fullMobile:max-w-full fullMobile:text-start mobile:py-4",
      "fullMobile:bg-contrast/20 backdrop-brightness-75 fullMobile:rounded-none fullMobile:text-white fullMobile:drop-shadow",
    ]}>Contactanos</button
  >
  <button
    class:list={[
      "px-2 text-lg max-w-sm font-semibold rounded-xl w-[30%] py-1  drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]",
      ,
      selected === 2
        ? " text-contrast bg-primary hover:bg-primary hover:text-contrast"
        : "bg-primary hover:bg-primary hover:text-contrast text-white text-primary",
      ,
      "fullMobile:w-full fullMobile:max-w-full fullMobile:text-start mobile:py-4",
      "fullMobile:bg-contrast/20 backdrop-brightness-75 fullMobile:rounded-none fullMobile:text-white fullMobile:drop-shadow",
    ]}>Trabaja con nosotros</button
  >
</section>
