<section
  class="text-center mobile:h-auto mobileX:h-auto 1000px:w-2/6 flex h-full justify-center 1000px:justify-start gap-5 items-center mobile:w-full moblieX:w-full
  
  HStretch:hidden"
>
  <a href="/"
    ><img
      src="/Images/InnoDev.png"
      class="w-16 drop-shadow-[0_0_3px_black]"
      alt=""
    /></a
  >
  <h2 class="1000px:block text-2xl text-white font-bold">InnoDev</h2>
</section>
