<section
  class="text-center 1000px:w-2/6 flex h-full justify-center 1000px:justify-start gap-5 items-center
  fullMobile:hidden"
>
  <a href="/" class="h-full">
    <img class="h-full w-auto" src="/Images/InnoDev.png" alt="">
  </a>
</section>
