---
import Services from "./Items/Services.astro";
import Slider from "./Items/Slider.astro";
---

<main class="max-w-[1000px] bg-primary relative border-x border-[#aaa]">
    <Slider/>
    <Services/>
</main>