<main class="flex py-20 relative w-2/6">
    <img src="/Images/coding.jpg" alt="" class="absolute w-56 h-full object-cover inset-0 m-auto">
    
    <img src="/Images/laptop.jpg" alt="" class="absolute w-56 bottom-0 m-auto">
</main>