---
import Layout from "../layouts/Layout.astro";
import { Header } from "../components/Header/Header.tsx";
import Main from "../components/Main/Main.astro";
import Statistics from "../components/Statistics/Statistics.astro";
import Buttons from "../components/Header/Items/Buttons.astro";
import Logo from "../components/Header/Items/Logo.astro";
import Companies from "../components/Companies/Companies.astro"
import Footer from "../components/Footer/Footer.astro";
---

<Layout title="InnoDev">
  <section
    class="min-h-screen max-w-[2000px] bg-white top-0 flex flex-col w-screen items-center"
  >
    <Header client:only>
      <section class="text-center 1500px:w-2/6 flex flex-col w-full">
        <Logo />
      </section>
      <Buttons />
    </Header>
    <Main />
    <Statistics />
    <Companies/>
    <Footer/>
  </section>
</Layout>
