---
---

<header class="w-full flex flex-col gap-5 items-center p-5 justify-center bg-primary">
    <section class="text-center flex flex-col">
        <h1 class="text-primary font-semibold text-3xl">LOGO</h1>
        <p class="text-sm font-semibold"> Desarrollo de software</p>
    </section>
    <section class=" flex justify-c enter gap-9">
        <button class="text-primary rounded-3xl px-3 py-1 bg-white drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]">Nuestros trabajos</button>
        <button class="text-primary rounded-3xl px-3 py-1 bg-white drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]">Contactanos</button>
        <button class="text-primary rounded-3xl px-3 py-1 bg-white drop-shadow-[0_7px_3px_#00000099] active:drop-shadow-[0_5px_6px_#00000099]">Trabaja con nosotros</button>
    </section> 
</header>
