---
//TODO: Hacer el slider automatico con imagenes posteriormente seteadas
---


<article class="bg-secondary h-[15rem] relative">
    <h2 class="absolute top-5 left-5 text-primary text-2xl ">Slider Automatico</h2>
</article>