---
import AboutSection from "./SubItems/AboutSection.astro";
---

<article class="w-full flex flex-wrap gap-[14%] items-center justify-center">
  <AboutSection title="Sobre nosotros">
    <span> -Acerca de InnoDev</span>
    <span> -Asociaciones</span>
    <span> -Comercio</span>
    <span> -Equipo</span>
  </AboutSection>
  <AboutSection title="Socios">
    <span> -Diseñadores</span>
    <span> -Desarrolladores</span>
    <span> -Afiliaciones</span>
  </AboutSection>
  <AboutSection title="Atención al cliente">
    <span> -Centro de atención al cliente</span>
    <span> -Comunidad</span>
  </AboutSection>
</article>
