---
import Layout from "../../layouts/Layout.astro"
import {  Titles, Messages } from "../../Consts/Consts"
import Footer from "../../Sections/General/Footer/Footer.astro";
---


<Layout title={Titles.NOT_FOUND}>
  <div class="w-full flex items-center justify-center flex-grow">
    <h1 class="text-[2vw] font-extrabold">{Messages.NOT_FOUND}</h1>
  </div>
  <Footer/>
</Layout>
