---
import { Header } from "../../Sections/General/Header/Header";
import Buttons from "../../Sections/General/Header/Items/Buttons.astro";
import Logo from "../../Sections/General/Header/Items/Logo.astro";
import Layout from "../../layouts/Layout.astro"
import {  Titles, Messages } from "../../Consts/Consts"
import Footer from "../../Sections/PrincipalPage/Footer/Footer.astro";
---


<Layout title={Titles.NOT_FOUND}>
  <div class="w-full flex items-center justify-center flex-grow">
    <h1 class="text-[2vw] font-extrabold">{Messages.NOT_FOUND}</h1>
  </div>
  <Footer/>
</Layout>
