<article class="w-full flex flex-wrap h-auto gap-5 justify-center">
  <section class="gap-7 text-white flex flex-col h-auto w-[12rem]">
    <h3 class="text-2xl h-2/6  font-bold text-center">Sobre nosotros</h3>
    <section class="self-center justify-start h-3/6 text-center md:text-start flex flex-col gap-2">
      <span> -Acerca de InnoDev</span>
      <span> -Asociaciones</span>
      <span> -Comercio</span>
      <span> -Equipo</span>
    </section>
  </section>
  <section class="gap-7 text-white flex flex-col h-auto w-[12rem]">
    <h3 class="text-2xl h-2/6  font-bold text-center">Socios</h3>
    <section class="self-center justify-start h-3/6 text-center md:text-start flex flex-col gap-2">
      <span> -Diseñadores</span>
      <span> -Desarrolladores</span>
      <span> -Afiliaciones</span>
    </section>
  </section>
  <section class="gap-7 text-white flex flex-col h-auto w-[12rem]">
    <h3 class="text-2xl h-2/6  font-bold text-center">Atención al cliente</h3>
    <section class="self-center justify-start h-3/6 text-center md:text-start flex flex-col gap-2">
      <span> -Centro de atención al cliente</span>
      <span> -Comunidad</span>
    </section>
  </section>
</article>
