---
    import {Messages} from "../../../Consts/Consts"
    import Projects from "./Items/Projects.astro"
---

<section class="flex flex-col bg-contrast max-w-[2000px] w-screen gap-12 2000px:border-x text-white py-20 px-5">
    <h3 class="w-full text-center text-5xl font-extrabold mobile:text-xl ">Proyectos destacados</h3>
    <strong class="text-center font-light mobile:text-lg text-2xl">ยก{Messages.FEATURED}!</strong>
    <Projects/>
</section>