---
import { Messages } from "../../../../Consts/Consts";
import Form from "./SubItems/Form.astro";
interface Props {
  name: string;
  description: string;
}
const { name } = Astro.props;
---

<section class="1000px:w-1/2 w-full flex items-center gap-16 flex-col">
  <h2 class="font-extrabold 500px:text-5xl text-primary text-3xl">{name}</h2>
  <Form />
 
</section>
