---
interface Props {
  name: string;
  image?: string;
}
const { name, image } = Astro.props;
---

<div class="p-3 mx-5 box-border rounded-full bg-gradient-to-r from-emerald-600 to-white">

  <article class="w-[200px] h-[200px] cursor-pointer rounded-full bg-secondary relative">
    <img
      src={image ?? "/Images/laptop.jpg"}
      class="w-full h-full rounded-full object-cover object-center"
      alt={name}
    />
    <section
      class="rounded-full h-full backdrop-blur-sm bg-black/60 top-0 absolute transition-opacity  z-10 w-full grid place-content-center"
      id="CompanyText"
    >
      <small class="text-lg text-white [text-shadow:0px_2px_0px_rgb(0,0,0)]"
        >{name}</small
      >
    </section>
  </article>
</div>

